@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Quattrocento&display=swap');

/* setting these elements to zero with asterisk wildcard to get more coltrol over the measurements of my designs */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quattrocento', serif;
    font-weight: 300;
    color: #47525E;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
}

/* header and navigation bar */

header {
    background-color: #ff9052;
    height: 150px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

#navigation li {
    display: inline-block;
    color: #fff;
}

#navigation a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid;
    transition: 0.5s ease;
}

#navigation li a:hover {
    background-color: #fff;
    color: #ff9052;
}

#navigation li.active a {
    background-color: #fff;
    color: #ff9052
}

#logo {
    text-align: center;
}

#navigation {
    text-align: center;
}

/* home section */

#home {
    background-color: #fff;
    height: 200px;
    padding-top: 15px;
    padding-left: 15px;
}

#images {
    column-count: 3;
    column-gap: 5px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 180, 140, 50);
    padding: 15px;
}

#images a img {
    width: 300px;
    height: auto;
}

/* image style if screen is smaller than 1000px wide - this does not work yet */


/* footer */

footer {
    background-color: #ff9052;
    height: 70px;
    color: #fff;
}

#socialmedia a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: 0.5s ease;
}

#socialmedia li a:hover {
    color: rgba(255, 180, 140, 50);
}

#socialmedia {
    text-align: center;
}


