@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Quattrocento&display=swap');

/* setting these elements to zero with asterisk wildcard to get more coltrol over the measurements of my designs */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quattrocento', serif;
    font-weight: 300;
    color: #47525E;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
}

/* header and navigation bar */

header {
    background-color: #ff9052;
    height: 150px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

#navigation li {
    display: inline-block;
    color: #fff;
}

#navigation a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid;
    transition: 0.5s ease;
}

#navigation li a:hover {
    background-color: #fff;
    color: #ff9052;
}

#navigation li.active a {
    background-color: #fff;
    color: #ff9052
}

#logo {
    text-align: center;
}

#navigation {
    text-align: center;
}

/* home section */

#home {
    background-color: #fff;
    height: 200px;
    width: auto;
    padding-top: 15px;
    padding-left: 15px;
}

/* need to fix the images so that they become centered and links to the right content on next page */

div.images img {
    width: 100%;
    height: auto;
}

.responsive {
    padding: 5px;
    background-color: #F9CC89;
}

/* inspiration section */

.inspirationimg {
    margin: 15px;
    overflow: auto;
    font-size: 13px;
}

/* footer with social media links */

footer {
    background-color: #ff9052;
    height: 70px;
    color: #fff;
}

#socialmedia {
    text-align: center;
}

#socialmedia li {
    display: inline;
    color: #fff;
}

#socialmedia i {
    font-size: 230%;
    color: #fff;
    margin: 1%;
}

/* does not work - fix hover effect */
#socialmedia a:hover {
    color: #ff9052;
}

/* image style if screen is larger than 768px */

@media only screen and (min-width: 768px) {
    div.images img {
        width: 30%;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* paragraph to the right of img if screen is larger than 500px */ 

@media only screen and (min-width: 500px) {
    .inspirationimg {
        margin: 15px;
    }

    .inspirationimg img {
        float: left;
        overflow: auto;
        margin-right: 15px;
    }

}