@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Quattrocento&display=swap');

/* setting these elements to zero with asterisk wildcard to get more coltrol over the measurements of my designs */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quattrocento', serif;
    font-weight: 300;
    color: #47525E;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
}

/* header and navigation bar */

header {
    background-color: #ff9052;
    height: 150px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

ul li {
    display: inline-block;
    color: #fff;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #ff9052;
}

ul li.active a {
    background-color: #fff;
    color: #ff9052;
}

#logo {
    text-align: center;
}

#navigation {
    text-align: center;
}

/* home section */

#home {
    background-color: #fff;
    height: 200px;
    padding-top: 15px;
    padding-left: 15px;
}

#images {
    background-color: rgba(255, 180, 140, 50);
    width: 100%;
}

/* there is something wrong with img, does not 
center with every size of screen, fix this */

.images {
    padding: 10px;
    height: auto;
    width: 50%;
    margin: 0 auto;
}

/* image style if screen is bigger than 400px wide */

@media screen and (min-width: 400px) {
    .images {
        width: 50%;
    }
}

/* footer */

footer {
    background-color: #ff9052;
    height: 70px;
    color: #fff;
}

.socialmedia {
    text-align: center;
    padding-top: 25px;
}
